<p>
  <b>Code:</b>
  <%=h @billing_code.code %>
</p>

<p>
  <b>Description:</b>
  <%=h @billing_code.description %>
</p>


<%= link_to 'Edit', edit_billing_code_path(@billing_code) %> |
<%= link_to 'Back', billing_codes_path %>